/*  your css code here. If applicable */
div{
	padding: 50px;
	position: absolute;
    top: 50%;
    left: 50%;
	border: 2px solid black;
	display: inline-block;
	background-color: lightblue;
	color: purple;
}